body.home-page{
    header{
        background: radial-gradient(ellipse at top, #00D1FF, #0033B6);
        min-height: 100%;

        nav{
            .branding{
                .zech{
                    cursor: default;
                    font-size: 1.6em;
                }
            }

            .links{
                li{ 
                    a{
                        img{
                            height: 1.6em;
                        }
                    }

                    &.discord{
                        a{
                            img{
                                margin-bottom: -13px;
                                height: calc(1.6em + 18px);
                            }
                        }
                    }
                }
            }
        }

        .message{
            color: white;
            font-weight: bold;
            padding: calc(var(--gutter)*2) var(--gutter);
            
            @media screen and (min-width: 720px) {
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: center;
                transform: translateX(-50%) translateY(-50%);
            }

            @media screen and (max-width: 600px) {
                font-size: 0.6em;
            }

            .small-text{
                font-size: 1.2em;
                line-height: 3.5em;
            }

            .big-text{
                font-size: 3em;
                line-height: 1.75em;
                text-transform: uppercase;
            }
        }

        .chevron{
            position: absolute;
            bottom: var(--gutter);
            left: 50%;
            transform: translateX(-50%);

            img{
                transition: transform 0.15s ease;
            }

            &:hover{
                img{
                    transform: scale(1.2);
                    transition: transform 0.25s $bounce;
                }
            }
        }
    }

    .container{
        max-width: 1280px;

        .section{
            display: flex;
            align-items: center;
            min-height: 24em;

            .content{
                flex: 3;
                padding: var(--gutter);
    
                *+.button{
                    margin-top: 64px;
                }
    
                ul{
                    list-style: none;
                }

                p{
                    color: white;
                }
            }
    
            .extra{
                padding: var(--gutter);
                flex: 2;
                text-align: center;
    
                ul{
                    font-size: 1.25em;
                    font-weight: 500;
                    line-height: 1.5em;
                    list-style-type: none;
                    li{
                        margin-top:1em;;
                    }
                }
    
                img{
                    max-width: 50%;
                    width: 200px;
                }
            }

            &.about-me{
                background: radial-gradient(ellipse at top, #202020, #484A52);

                .button{
                    color: #202020;
                }
            }

            &.discord{
                background: radial-gradient(ellipse at top, #2635D9, #5865F2);

                .button{
                    color: #2635D9;
                }
            }

            &.github{
                background: radial-gradient(ellipse at top, #000000, #444444);

                .button{
                    color: #000000;
                }
            }


            &.youtube{
                background: radial-gradient(ellipse at top, #6D0000, #D90000);

                .button{
                    color: #C20000;
                }
            }

            @media screen and (max-width: 960px) {
                flex-direction: column-reverse;

                .content{
                    width: 100%;
                }

                .extra{
                    padding-bottom: 0;
                }

                a{
                    display: block;
                    text-align: center;
                    margin: 0 var(--gutter);
                }

                a+a{
                    padding-top: 1.2em;
                    padding-left: 0;
                }

                p, li{
                    a{
                        display: inline;
                        margin: 0;
                    }
                }
            }
        }

        @media screen and (max-width: 960px){
            padding: 0;
        }
    }

    .button{
        background-color: white;
        border-radius: 48px;
        color: black;
        display: inline-block;
        font-weight: bold;
        line-height: 1em;
        text-decoration: none;
        padding: 12px 32px;
        position: relative;
        transition: transform 0.15s ease;
        
        &:hover{
            transform: scale(1.1);
            transition: transform 0.25s $bounce;
        }
    }
}