<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zech.Codes - Hello!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/app.css">
    <link rel="shortcut icon" type="image/jpg" href="/static/images/IMG_0161.PNG"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6RQHJEDDGG"></script>
    {% if google_analytics_key %}
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6RQHJEDDGG');
    </script>
    {% endif %}
</head>
<body class="home-page">
    <header>
        <nav>
            <div class="branding">I'm <span class="zech">Zech</span></div>
            <ul class="links">
                <li class="discord">
                    <a href="#discord">
                        <img src="/static/images/Discord-Logo-White.png" alt="Checkout the Beginner.py Discord Server" />
                    </a>
                </li>
                <li class="github">
                    <a href="#github">
                        <img src="/static/images/GitHub-Mark-Light-64px.png" alt="Checkout my GitHub" />
                    </a>
                </li>
                <li class="youtube">
                    <a href="#youtube">
                        <img src="/static/images/yt_icon_mono_dark.png" alt="Checkout my YouTube" />
                    </a>
                </li>
            </ul>
        </nav>
        <div class="message">
            <div class="small-text">Helping Others Do</div>
            <div class="big-text">Amazing</div>
            <div class="big-text">Things</div>
        </div>
        <a href="#about-me" title="Jump to About Me" class="chevron"><img src="/static/images/chevron.png" /></a>
    </header>
    <div class="container">
        <div class="about-me section" id="about-me">
            <div class="content">
                <h2>About Me</h2>
                <p>Hi! I'm <b>Zech</b>!</p>
                <p>I'm a software developer who really enjoys <i>helping others</i> learn and grow.</p>
                <p>I currently am the owner of the Beginner.py Discord server.  A home to more than 3,000 people who are on their journey to becoming amazing coders.</p>
                <p>Personally my favorite things to work on are frameworks that do awesome things that other devs can use in their projects. My pride and joy is <a href="https://pypi.org/project/bevy/" title="Bevy on the Python Package Index">Bevy</a>, an object oriented dependency injection framework.</a></p>
                <a href="mailto:hi@zech.codes" title="Email me" class="button">Email Me</a><a href="#github" title="Checkout my GitHub">GitHub</a>
            </div>
            <div class="extra">
                <ul>
                   <li>Software Engineer</li> 
                   <li>Community Oriented</li> 
                   <li>Python Developer</li> 
                   <li>Web Development</li> 
                </ul>
            </div>
        </div>
        <div class="discord section" id="discord">
            <div class="content">
                <h2>Beginner.py on Discord</h2>
                <p><i>Helping others</i> learn to code by answering their questions and giving them guidance.</p>
                <p>Our members voluntarily provide help with topics ranging from Python to C and web development to simple command line applications.</p>
                <a href="https://discord.gg/sfHykntuGy" title="Join us on Discord" class="button">Join Discord</a>
            </div>
            <div class="extra">
                <img src="/static/images/Discord-Logo-White.png" alt="Discord" />
            </div>
        </div>
        <div class="github section" id="github">
            <div class="content">
                <h2>GitHub</h2>
                <p>I keep all my projects on GitHub. A few of my favorites are:</p>
                <ul>
                    <li><a href="https://github.com/ZechCodes/Bevy" title="Bevy on GitHub">Bevy</a> - OOP dependency injection framework</li>
                    <li><a href="https://github.com/ZechCodes/dippy.core" title="Dippy.core on GitHub">Dippy.core</a> - WIP barebones Discord API wrapper</li>
                    <li><a href="https://github.com/beginnerpy-com/beginner.py-bot" title="Beginner.py Bot on GitHub">Beginner.py Bot</a> - Community built Discord bot</li>
                </ul>
                <a href="https://github.com/ZechCodes" title="Checkout my GitHub" class="button">Browse Projects</a>
            </div>
            <div class="extra">
                <img src="/static/images/GitHub-Mark-Light-120px-plus.png" alt="GitHub" />
            </div>
        </div>
        <div class="youtube section" id="youtube">
            <div class="content">
                <h2>YouTube</h2>
                <p>Coming soon!!!</p>
                <p>Videos that will cover various topics in Python, Web Dev, and Bot Dev. <b>Subscribe so you don't miss out!</b></p>
                <a href="https://www.youtube.com/channel/UC6-iUsH8cOQ2GxGLyIVcw-Q" title="Subscribe so you don't miss out" class="button">Subscribe Now</a>
            </div>
            <div class="extra">
                <img src="/static/images/yt_icon_mono_dark.png" alt="YouTube" />
            </div>
        </div>
    </div>
    <footer>
        &copy; Zech Zimmerman 2021
    </footer>
</body>
</html>
